html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	color: rgb(33, 37, 41);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	transition: background-color 0.2s ease;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	display: flex;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3 {
	font-family: 'Merriweather', serif;
}
p, a, li, button {
	font-family: 'Open Sans', sans-serif;
}

h4, p {
	color: #fff;
}

h1 {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 48px;
}

li, .btn {
	padding: 10px 20px;
	border: solid white;
    border-radius: 20px;
	margin: 10px;
}

.btn:hover, li:hover {
	background-color: white;
	color: #4285F4;
}

a {
	color: inherit;
}

body {
	background: #4285F4;
}

.btn, p {
	margin: 50px;
}

nav {
	margin: 40px 0;
	text-align: center;
}

.footer {
	left: 20px;
	bottom: 20px;
}