<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>D&D Tracking App</title>
 
 

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <link href="../static/reset.css" rel="stylesheet">
    <link href="../static/create.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showClasses">Classes</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showRaces">Races</a>
                    </li>
                    <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron">
        <section>
            <form class="form-horizontal" method="post" action="/addWish">
                <fieldset>
 
                <h2>Create an Entry</h2>
                <div class="flex" style='display: flex;'>
                    <a href="/showAddCharacter">Character</a>
                    <a href="/showAddRace">Race</a>
                    <a href="/showAddClass">Class</a>
                </div>
                </fieldset>
            </form>
 
        </section>
        </div>
        <footer class="footer">
            <p>&copy; Vincent Carlino 2018</p>
        </footer>
 
    </div>
</body>
 
</html>