<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Unauthorized Access:: D&D Tracking App</title>
 
 
    <link href="../static/reset.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
 
        <footer class="footer">
            <p>&copy; Vincent Carlino 2018</p>
        </footer>
 
    </div>
</body>
 
</html>