<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>D&D Tracking App</title>
 
 
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $.ajax({
                url : '/getRaces',
                type : 'GET',
                success: function(res){
                    var div = $('<div>')
        .attr('class', 'list-group')
        .append($('<a>')
            .attr('class', 'list-group-item active')
            .append(
                $('<a>').attr('class', 'modify delete').html('x'),
                $('<h4>')
                .attr('class', 'list-group-item-heading'),
                $('<p>')
                .attr('class', 'list-group-item-text')));
                                    
                    
                    console.log(res);
                    var raceObj = JSON.parse(res);
                    console.log(raceObj);
                    var r = '';
                    
                    $.each(raceObj,function(index, value){
                        r = $(div).clone();
                        console.log(value);
                        $(r).find('.modify').attr('data-id', value[3]).attr('name-id', value[0]);
                        $(r).find('.delete').attr('onclick', "onClickMod(this, \"/deleteRace\")");
                        $(r).find('h4').text(value[0]);
                        $(r).find('p').text(value[1]);
                        $(r).css("margin-bottom", "20px")
                        $('.jumbotron').append(r);
                    });
                },
                error: function(error){
                    console.log(error);
                }
            });
        });

        function onClickMod(elm, type) {
            $.ajax({
                url : type,
                data : {
                    id: $(elm).attr('data-id'),
                    name: $(elm).attr('name-id')
                },
                type : 'POST',
                success: function(res) {
                    console.log(res);
                    window.setTimeout(function(){location.reload()}, 1500)
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        </script>
        <link href="../static/show.css" rel="stylesheet">
        <link href="../static/reset.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showCreate">Create</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showClasses">Classes</a>
                    </li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Your Races</h1>
 
        </div>
 
 
        <footer class="footer">
            <p>&copy; Vincent Carlino 2018</p>
        </footer>
 
    </div>
</body>
 
</html>