<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    
    <script>
        $(function(){
            $.ajax({
                url : '/getCharacters',
                type : 'GET',
                success: function(res){
                    var div = $('<div>')
        .attr('class', 'list-group')
        .append($('<div>')
            .attr('class', 'list-group-item character')
            .append($('<a>').attr('class', 'delete').text('x'),
                $('<h4>')
                .attr('class', 'name list-group-item-heading'),
                $('<p>')
                .attr('class', 'list-group-item-text age'),
                $('<div>')
                .attr('class', 'stats')
                .append($('<div>')
                    .attr('class', 'stat')
                    .append($('<p>')
                        .attr('class', 'list-group-item-text str'),
                        $('<p>')
                        .text('Strength')),
                    $('<div>')
                    .attr('class', 'stat')
                    .append($('<p>')
                        .attr('class', 'list-group-item-text dex'),
                        $('<p>')
                        .text('Dexterity')),
                    $('<div>')
                    .attr('class', 'stat')
                    .append($('<p>')
                        .attr('class', 'list-group-item-text con'),
                        $('<p>')
                        .text('Constitution')),
                    $('<div>')
                    .attr('class', 'stat')
                    .append($('<p>')
                        .attr('class', 'list-group-item-text wis'),
                        $('<p>')
                        .text('Wisdom')),
                    $('<div>')
                    .attr('class', 'stat')
                    .append($('<p>')
                        .attr('class', 'list-group-item-text int'),
                        $('<p>')
                        .text('Intelligence')),
                    $('<div>')
                    .attr('class', 'stat')
                    .append($('<p>')
                        .attr('class', 'list-group-item-text cha'),
                        $('<p>')
                        .text('Charisma'))),
                $('<h4>').attr('class', 'class-level'),
                $('<p>').attr('class', 'class-attr'),
                $('<h4>').text('Race Advantages'),
                $('<p>').attr('class', 'race-attr').text('Class abilities')));
                                    
                    
                    console.log(res);
                    var characterObj = JSON.parse(res);
                    console.log(characterObj);
                    var c = '';
                    
                    $.each(characterObj,function(index, value){
                        c = $(div).clone();
                        console.log(value);
                        $(c).find('.name').text(`${value.Name}`);
                        $(c).find('.age').text(`${value.Age} year old ${value.Race}, Level ${value.Level} ${value.Class}`);
                        $(c).find('.str').text(value.Str);
                        $(c).find('.dex').text(value.Dex);
                        $(c).find('.con').text(value.Con);
                        $(c).find('.wis').text(value.Wis);
                        $(c).find('.int').text(value.Int);
                        $(c).find('.cha').text(value.Cha);
                        $(c).find('.class-level').text(`Class Abilities at level ${value.Level}`)
                        $(c).find('.class-attr').text(value.Class_abilities);
                        $(c).find('.race-attr').text(value.Race_abilities);
                        $(c).find('.delete').attr('data-id', value.Id).attr('onClick', levelUp(this));
                        $('.characters').append(c);
                    });
                },
                error: function(error){
                    console.log(error);
                }
            });
        });

        function levelUp(elm){
            $.ajax({
                url : '/levelUp',
                data : {id: $(elm).attr('data-id')},
                type : 'POST',
                success: function(res){
                    console.log(res);
                },
                error: function(error){
                    console.log(error);
                }
            });
        }

        //Make deleting, levelup, and leveldown work (jquery? python?)
        </script>
        <link href="../static/reset.css" rel="stylesheet">
        <link href="../static/userhome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/showCreate">Create</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showClasses">Classes</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showRaces">Races</a>
                    </li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
 
        <div class="characters">
            <h1>Your Characters</h1>

        </div>
 
 
        <footer class="footer">
            <p>&copy; Vincent Carlino 2018</p>
        </footer>
 
    </div>
</body>
 
</html>