<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    
    <link href="../userhome.css" rel="stylesheet">
    <script>
        $(function(){
            $.ajax({
                url : '/getCharacters',
                type : 'GET',
                success: function(res){
                    var div = $('<div>')
        .attr('class', 'list-group')
        .append($('<a>')
            .attr('class', 'list-group-item active')
            .append($('<h4>')
                .attr('class', 'list-group-item-heading'),
                $('<p>')
                .attr('class', 'list-group-item-text')));
                                    
                    
                    console.log(res);
                    var classObj = JSON.parse(res);
                    console.log(classObj);
                    var c = '';
                    
                    $.each(classObj,function(index, value){
                        c = $(div).clone();
                        console.log(value);
                        $(c).find('h4').text(value[0]);
                        $(c).find('p').text(value[1]);
                        $('.jumbotron').append(c);
                    });
                },
                error: function(error){
                    console.log(error);
                }
            });
        });
        </script>
        <link href="../static/reset.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/showCreate">Create</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showClasses">Classes</a>
                    </li>
                    <li role="presentation" class="active"><a href="/showRaces">Races</a>
                    </li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Welcome Home !!</h1>
 
        </div>
 
 
        <footer class="footer">
            <p>&copy; Vincent Carlino 2018</p>
        </footer>
 
    </div>
</body>
 
</html>